# Python
__pycache__/
*.py[co]
*.egg-info
/build
/dist

# uv
.venv/

# IDE files, .coverage, .pytest_cache, ...
.*
!/.github/
!.dockerignore
!.gitignore

# do not import jupyter notebooks for exploration
notebooks/

# node modules of the Pyodide check in tools/wasm
node_modules/
