name: Run tests
on:
  workflow_dispatch:
  pull_request:
    branches:
      - "main"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff

      - run: ruff check --output-format=github .

  tests:
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
        include:
#          - os: "windows-2022"
#            python-version: "3.10"
          - os: "macos-latest"
            python-version: "3.10"
          - os: "macos-11"
            python-version: "3.10"

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: "Install dependencies"
        run: |
          python -m pip install --upgrade pip wheel setuptools
          pip install .
          # https://stackoverflow.com/a/69439779/2988107
          pip install --upgrade numpy tinysegmenter jieba konlpy hebrew_tokenizer "tweepy<4.0.0" greek-stemmer-pos
          python -c "import nltk; nltk.download('punkt')"
          pip install --upgrade pytest codecov pytest-cov

      - run: pytest tests
        env:
          CI: 1
          PYTHONDONTWRITEBYTECODE: 1

      - run: codecov
